.mdxArea {
  margin-top: 40px;
  color: #0f172a;
  aside {
    width: "100%";
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #eeeeeb;
    border-radius: 6px;
    margin-top: 12px;
    flex: auto;
    flex-direction: row;

    ol li {
      font-family: "NanumGothicNeo-Regular";
      font-size: 1rem;
      list-style-type: decimal;
      margin-top: 5px;
    }
    ul li {
      font-family: "NanumGothicNeo-Regular";
      font-size: 1rem;
      list-style-type: disc;
      margin-top: 5px;
    }
  }

  ol {
    font-family: "NanumGothicNeo-Regular";
    font-size: 1rem;
    padding-left: 30px;
    padding-right: 30px;
    li {
      list-style-type: decimal;
      margin-top: 5px;
    }
  }

  ul {
    font-family: "NanumGothicNeo-Regular";
    font-size: 1rem;
    padding-left: 30px;
    padding-right: 30px;
    li {
      list-style-type: disc;
      margin-top: 5px;
    }
  }

  a {
    font-family: "NanumGothicNeo-Regular";
    font-size: 1rem;
    &:hover {
      color: #10b981;
    }
  }

  p {
    font-family: "NanumGothicNeo-Regular";
    font-size: 1rem;
    font-weight: 600;
  }

  h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin-top: 60px;
    font-family: "NanumGothicNeo-ExtraBold";
  }

  h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin-top: 60px;
    font-family: "NanumGothicNeo-ExtraBold";
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-top: 60px;
    font-family: "NanumGothicNeo-ExtraBold";
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-top: 60px;
    font-family: "NanumGothicNeo-ExtraBold";
  }
  img {
    max-width: 800px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  pre {
    /* background-color: aqua; */
  }
}
