@import "./css/detail_page.css";
@import "./css/mdx.css";
@import "./css/intellij-prism.css";
@import "./css/prose.css";
@import "./css/conference.css";
@import "./css/main.css";
/* @import "./css/prism-vsc-dark-plus.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "NanumGothicNeo-Light";
  src: url("./fonts/NanumSquareNeo-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "NanumGothicNeo-Regular";
  src: url("./fonts/NanumSquareNeo-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "NanumGothicNeo-Bold";
  src: url("./fonts/NanumSquareNeo-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "NanumGothicNeo-ExtraBold";
  src: url("./fonts/NanumSquareNeo-ExtraBold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "NanumGothicNeo-Heavy";
  src: url("./fonts/NanumSquareNeo-Heavy.woff") format("woff");
  font-weight: 900;
}
