@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mdxArea aside {
  width: "100%";
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #eeeeeb;
  border-radius: 6px;
  margin-top: 4px;
  flex: auto;
  flex-direction: row;

  ol li {
    list-style-type: decimal;
    margin-top: 5px;
  }
  ul li {
    list-style-type: disc;
    margin-top: 5px;
  }
}

.mdxArea ol {
  padding-left: 30px;
  padding-right: 30px;
  li {
    list-style-type: decimal;
    margin-top: 5px;
  }
}

.mdxArea ul {
  padding-left: 30px;
  padding-right: 30px;
  li {
    list-style-type: disc;
    margin-top: 5px;
  }
}

.mdxArea a {
  text-decoration: underline;
  &:hover {
    color: #10b981;
  }
}

.mdxArea h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #0f172a;
  font-weight: 700;
  margin-top: 5px;
}

.mdxArea h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #0f172a;
  font-weight: 700;
  margin-top: 5px;
}

.mdxArea h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #0f172a;
  font-weight: 700;
  margin-top: 5px;
}

.mdxArea h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #0f172a;
  font-weight: 700;
  margin-top: 5px;
}
